<button (click)="open()"><img src="/menu.png" style="width: 30px; height: 30px;"></button>

@if(showAside){

<div class="overlay" (click)="close()"></div>

<aside class="sidebar">
  <h2><a routerLink="/dashboard" class="titulo">Gea</a></h2>

  <nav>
    <ul style="display: flex; flex-direction: column; gap: 0.5rem">
      <div class="contenedor">
        <img src="/panel.png" />
        <li><a routerLink="/dashboard">Tablero</a></li>
      </div>

      <div class="contenedor">
        <img src="/cita.png" />
        <div class="dropdown">
          <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Turnos </a>

          <ul class="dropdown-menu">
            <li>
              <a
                routerLink="/form-appointment"
                class="dropdown-item"
                style="border-bottom: 1px solid #d5cdcd"
                href="#"
                >Agregar</a
              >
            </li>
            <li>
              <a routerLink="/list-appointments" class="dropdown-item" href="#">Administrar</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="contenedor">
        <img src="/profesional.png" />
        <div class="dropdown">
          <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profesionales
          </a>

          <ul class="dropdown-menu">
            <li>
              <a
                routerLink="/form-professional"
                class="dropdown-item"
                style="border-bottom: 1px solid #d5cdcd"
                href="#"
                >Agregar</a
              >
            </li>
            <li>
              <a routerLink="/list-professionals" class="dropdown-item" href="#">Administrar</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="contenedor">
        <img src="/cliente.png" />
        <div class="dropdown">
          <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Clientes </a>

          <ul class="dropdown-menu">
            <li>
              <a
                routerLink="/form-customer"
                class="dropdown-item"
                style="border-bottom: 1px solid #d5cdcd"
                href="#"
                >Agregar</a
              >
            </li>
            <li><a routerLink="/list-customers" class="dropdown-item" href="#">Administrar</a></li>
          </ul>
        </div>
      </div>
    </ul>
  </nav>
</aside>
}
