.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contenedor-cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contenedor .card {
  width: 280px;
  height: 200px;
  border-radius: 0.7rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2.5rem;
  margin-top: 1rem;
}

.card img {
  width: 20px;
  height: 20px;
  margin-top: 0.4rem;
}

.card div p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.card div .number {
  font-size: 1.5rem;
  font-weight: 600;
}


@media (min-width: 768px) {
  .contenedor-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }
  .contenedor .card {
    width: 250px;
    height: 160px;
    padding: 1.5rem;
  }
  .contenedor {
    flex-direction: row;
    justify-content: center;
  }
}


